::-webkit-scrollbar {
    width: 0px;
}
::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.9);
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    color: #090c0b;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #daadf1;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.container{
    background: white;
    height: 80vh;
    width: 60vw;
    background: linear-gradient(to right bottom, rgba(255,255,255,0.7),rgba(255,255,255,0.3));
    border-radius: 2rem;
    font-family: 'Fira Sans', sans-serif;
    z-index: 2;
    backdrop-filter: blur(2rem);
    display: grid;
    grid-template-areas:
    "users chat chat"
    "users chat chat"
    "users text text";
    grid-template-rows: 3fr 1fr;
    grid-auto-columns: 3fr 5fr;
    overflow:hidden;
}
.circle1,
.circle2{
    background: linear-gradient(to right bottom, rgba(255,255,255,0.8),rgba(255,255,255,0.4));
    position: absolute;
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
}
.circle1{
    top:5%;
    right: 15%;
}
.circle2{
    bottom:5%;
    left: 10%;
}
.usersArea {
    grid-area: users;
    background: linear-gradient(to right bottom, rgba(255,255,255,0.8),rgba(255,255,255,0.4));
    display: grid;
    grid-template-rows: 2fr 5fr;

    /*resize: initial;*/

    /*overflow-y: scroll;*/
}
.room{
    align-self: center;
    justify-self: center;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
}
.room img{
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
}
.users {
    display: grid;
    grid-template-rows: repeat(6,1fr);
    overflow-y:hidden ;

}
.online{
    font-weight: 500;
    font-size:small;
    color: #0c0c0c;
    text-transform: inherit;
}

.user{
    display: flex;
    align-items: center;

}
.user span{
    font-weight: bolder;
    font-size: medium;
    margin-left: 10px;
}
.user img{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    margin-left: 10px;

}

.me{
    background: linear-gradient(to right bottom, rgba(97, 229, 103,0.5), rgb(89, 241, 167));

}

.usersArea ul{
    list-style: none;
}

.chatArea {
    grid-area: chat;
    display: grid;
    grid-template-rows: repeat(6,1fr);
    resize: none;
    overflow: auto;
    padding: 0.5rem;
}
.massageArea{
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
}
.notMyMassageArea{
    display:flex;
    flex-direction: column;
}
.chatArea img{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
}
.textArea{
    grid-area: text;
    border-top: 2px solid #98f2f3;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.textarea {
    width: 80%;
    height: 1rem;
    border-radius: 99999px;
    resize: none;
    background: linear-gradient(to right bottom, rgba(255,255,255,0.8),rgba(255,255,255,0.4));
    padding: 1rem;
    overflow: -moz-scrollbars-horizontal;
    border-style: none;
    margin:10px ;
}
.textarea:focus{
    border-style: none;
    outline: none;
}
.myMessage{
    display: flex;
    justify-content: flex-end;
    align-items:center;
    text-align: end;
    line-break:anywhere;
    min-height: 92px;
}
.myMessage * {
    margin-bottom: 0.2rem;

}
.myMessage div{
    display: flex;
    align-self: flex-end;
    text-align: right;
    background: linear-gradient(to right bottom, rgba(97, 229, 103,0.5), rgb(89, 241, 167));
    width: content-box;
    height: content-box;
    padding: 0.4rem;
    border-radius: 20px;
    white-space: pre-line;
    justify-content: center;
    align-items: center;
    line-break: anywhere;
}
.notMyMessage * {
    margin-bottom: 0.2rem;
}
.notMyMessage div{
    display: flex;
    align-self: flex-start;
    text-align: left;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right bottom, rgba(255,255,255,0.4),rgba(255,255,255,0.4));
    width: content-box;
    height: content-box;
    padding: 0.4rem;
    border-radius: 20px;
    white-space: pre-line;
    line-break: anywhere;
}

.name{
    color: #070109;
    font-weight: bold;
    font-size: medium;

}
.mess{

}

.time{
    font-size: 0.6rem;
}

.notMyMessage{
    display: flex;
    justify-content: flex-end;
    align-items:center;
    text-align: left;
    flex-direction: row-reverse;
    min-height: 92px;
}

button{
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 3px;
    border-radius: 50%;
    background: linear-gradient(to right bottom, rgba(97, 229, 103,0.5), rgb(89, 241, 167));
    color: #0c0c0c;
}
button:focus{
    outline:none;
}
.textarea::placeholder {
    color: #0c0c0c;
    font-family: 'Fira Sans', sans-serif;
}
/*@media  only screen and (max-width: 800px) {*/
/*    .container{*/
/*        width: 600px;*/
/*        height: 400px;*/
/*    }*/
/*    .img{*/
/*        height: 50px;*/
/*        width: 50px;*/
/*    }*/
/*    .user img{*/
/*        width: 35px;*/
/*    }*/

/*}*/

/*@media  only screen and (max-width: 500px) {*/
/*    .container{*/
/*        width: 400px;*/
/*        height: 250px;*/
/*    }*/
/*    .img{*/
/*        height: 30px;*/
/*    }*/
/*    .user img{*/
/*        width: 20px;*/
/*    }*/

/*}*/