
.originalImage img{
    max-width: 20rem;
    max-height: 20rem;

}
.imagePreview img{

    width: 150px;
    height: 100px;
}
.MuiButton-containedSizeSmall{
    margin-left: 1rem;
}
.hideImg img{
    max-width: 400px;
    max-height: 300px;

}
.customColor {


}