body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.popup-overlay {
  background-color: rgba(0, 0, 0, 0.5);
}
.popup-content {
  display: flex;
  margin: auto;
  background: rgb(242, 236, 246);
  padding: 5px;
  border-radius: 10px;
  text-align:center;
  flex-direction:column;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
